<template>
  <div id="containerpills" class="col-md-12">
    <h2>Welcome Brgy Tibay!</h2>
    <br>
    <!-- Nav pills -->
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#menu1">Reservation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#menu2">Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#menu3">Records</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#menu4">Members</a>
      </li>
    </ul>
    <!-- <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
    </ul>-->

    <!-- Tab panes -->
    <div class="tab-content">
      <div id="home" class="container tab-pane active" style="text-align:-webkit-auto;">
        <br>

        <div class="col-md-5">
          <!-- cards -->
          <div class="card" style="width: 100%;">
            <!-- <img class="card-img-top" src="./src/assets/logo.png" alt="Card image cap"> -->
            <div class="card-body bg-primary text-white">Add News/Update</div>
            <div class="card-body">
              <label for="exampleFormControlFile1">File</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
              <!-- <h5 class="card-title">Bayanihan Drive</h5> -->
              <label for="usr">Title:</label>
              <input type="text" class="form-control" id="usr">
              <!-- <p class="card-text">Inaanyayahan po ang lahat na dmalo sa cleaning drive sa MAY 25, 2019</p> -->
              <label for="comment">Comment:</label>
              <textarea class="form-control" rows="5" id="comment"></textarea>
              <a href="#" class="btn btn-primary">Post</a>
              <!-- <router-link :to="{ name: 'App' }">Home</router-link> -->
              <!-- <router-link to="/hello">About</router-link> -->
              <!-- <router-view></router-view> -->
            </div>
          </div>
          <!-- cards -->
        </div>

        <div class="col-md-7 container">
          <div class="card-header bg-primary text-white">
            <h3>News & Updates</h3>
          </div>
          <div
            class="container"
            style="width: 100%; height: 400px; position:relative; overflow-y: scroll ;"
          >
            <!-- card sample -->
            <div class="card" style="margin-bottom:5px;">
              <h5 class="card-body bg-info text-white" style="font-weight: bold;">
                Jonvic Remulla defeats Ayong Maliksi in Cavite gubernatorial race
                <button type="button" class="close" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </h5>
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p
                  class="card-text"
                >MANILA, Philippines – Juanito Victor "Jonvic" Remulla Jr won his gubernatorial bid in Cavite, defeating his longtime political rival Erineo "Ayong" Maliksi.</p>
                <a href="#" class="btn btn-primary">Check it out!</a>
              </div>
            </div>
            <!-- card sample -->
            <!-- card sample -->
            <div class="card" style="margin-bottom:5px;">
              <h5 class="card-body bg-info text-white" style="font-weight: bold;">
                Jonvic Remulla defeats Ayong Maliksi in Cavite gubernatorial race
                <button type="button" class="close" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </h5>
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p
                  class="card-text"
                >With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Check it out!</a>
              </div>
            </div>
            <!-- card sample -->
            <!-- card sample -->
            <div class="card" style="margin-bottom:5px;">
              <h5 class="card-body bg-info text-white" style="font-weight: bold;">
                Jonvic Remulla defeats Ayong Maliksi in Cavite gubernatorial race
                <button type="button" class="close" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </h5>
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p
                  class="card-text"
                >With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Check it out!</a>
              </div>
            </div>
            <!-- card sample -->
          </div>
        </div>
      </div>
      <div id="menu1" class="container tab-pane fade">
        <br>
        <h3>Reservation</h3>
        <p>court reservation/tent/events(zumba)</p>
      </div>
      <div id="menu2" class="container tab-pane fade">
        <br>
        <h3>Reports</h3>
        <p>dito ilalagay yung mga incidente ng nakawan blotter na parang bitag</p>
      </div>
      <div id="menu3" class="container tab-pane fade">
        <br>
        <!-- <h3>Records</h3>
        <p>dito yung mga magrerquest ng mga papers/ brgy id / brgy clearance etc.</p>-->
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-5">
                <h2>
                  Records
                  <b>Management</b>
                </h2>
              </div>
              <!-- <div class="col-sm-3">
                <a
                  href="#"
                  class="btn btn-primary btn-sm"
                  data-toggle="modal"
                  data-target="#myModal"
                >
                  <i class="material-icons">&#xE147;</i>
                  <span>Add New User</span>
                </a>
              </div>
              <div class="col-sm-3">
                <a href="#" class="btn btn-primary btn-sm">
                  <i class="material-icons">&#xE24D;</i>
                  <span>Export to Excel</span>
                </a>
              </div> -->
            </div>
          </div>
          <div class="scrollable">
          <table class="table table-striped table-hover scrollable">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Mothers Name</th>
                <th>Fathers NAme</th>
                <th>Gender</th>
                <th>Civil Status</th>
                <th>Birthday</th>
                <th>Birthplace</th>
                <th>Phone Number</th>
                <th>Citizenship</th>
                <th>Religion</th>
                <th>Email</th>
                <th>Is Deceased</th>
                <th>Date Created</th>
                <th>Date Modified</th>
                <th>Household Address</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>
                  <!-- <a href="#">
                    <img src="src\assets\logo.png" class="avatar"> Marvin De Guzman
                  </a> -->
                  Marvin De Guzman
                </td>
                <td>Divin De Guzman</td>
                <td>Arvin De Guzman</td>
                <td>Male</td>
                <td>Single</td>
                <td>04/10/2013</td>
                <td>Dasmarinas Cavite</td>
                <td>09282530303</td>
                <td>Filipino</td>
                <td>Catholic</td>
                <td>marvin.de.guzman@gmail.com</td>
                <td>
                  <input type="checkbox" disabled>
                </td>
                <td>04/10/2013</td>
                <td>04/10/2013</td>
                <td>Barangay di magiba</td>
                <td>
                  <span class="status text-success">&bull;</span> Active
                </td>
                <td>
                  <a href="#" class="settings" title="Settings" data-toggle="tooltip">
                    <i class="material-icons">&#xE8B8;</i>
                  </a>
                  <a href="#" class="delete" title="Delete" data-toggle="tooltip">
                    <i class="material-icons">&#xE5C9;</i>
                  </a>
                </td>
              </tr>
              
            </tbody>
          </table>
          </div>
          <div class="clearfix">
            <div class="hint-text">
              Showing
              <b>5</b> out of
              <b>25</b> entries
            </div>
            <ul class="pagination">
              <li class="page-item">
                <a href="#">Previous</a>
              </li>
              <li class="page-item active">
                <a href="#" class="page-link">1</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">2</a>
              </li>
              <li class="page-item disabled">
                <a href="#" class="page-link">3</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">4</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">5</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">Next</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="menu4" class="container tab-pane fade" style="text-align:-webkit-auto;">
        <br>
        <!-- <div class="container"> -->
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-5">
                <h2>
                  Members
                  <b>Management</b>
                </h2>
              </div>
              <div class="col-sm-3">
                <a
                  href="#"
                  class="btn btn-primary btn-sm"
                  data-toggle="modal"
                  data-target="#myModal"
                >
                  <i class="material-icons">&#xE147;</i>
                  <span>Add New User</span>
                </a>
              </div>
              <div class="col-sm-3">
                <a href="#" class="btn btn-primary btn-sm">
                  <i class="material-icons">&#xE24D;</i>
                  <span>Export to Excel</span>
                </a>
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Date Created</th>
                <th>Position</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>
                  <a href="#">
                    <img src="src\assets\logo.png" class="avatar"> Marvin De Guzman
                  </a>
                </td>
                <td>04/10/2013</td>
                <td>Barangay Captain</td>
                <td>
                  <span class="status text-success">&bull;</span> Active
                </td>
                <td>
                  <a href="#" class="settings" title="Settings" data-toggle="tooltip">
                    <i class="material-icons">&#xE8B8;</i>
                  </a>
                  <a href="#" class="delete" title="Delete" data-toggle="tooltip">
                    <i class="material-icons">&#xE5C9;</i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>
                  <a href="#">
                    <img src="src\assets\logo.png" class="avatar"> Joshua Moya
                  </a>
                </td>
                <td>05/08/2014</td>
                <td>Barangay Chairman</td>
                <td>
                  <span class="status text-success">&bull;</span> Active
                </td>
                <td>
                  <a href="#" class="settings" title="Settings" data-toggle="tooltip">
                    <i class="material-icons">&#xE8B8;</i>
                  </a>
                  <a href="#" class="delete" title="Delete" data-toggle="tooltip">
                    <i class="material-icons">&#xE5C9;</i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>
                  <a href="#">
                    <img src="src\assets\logo.png" class="avatar"> Justine WalaApelyido
                  </a>
                </td>
                <td>11/05/2015</td>
                <td>Tanod</td>
                <td>
                  <span class="status text-danger">&bull;</span> Suspended
                </td>
                <td>
                  <a href="#" class="settings" title="Settings" data-toggle="tooltip">
                    <i class="material-icons">&#xE8B8;</i>
                  </a>
                  <a href="#" class="delete" title="Delete" data-toggle="tooltip">
                    <i class="material-icons">&#xE5C9;</i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td>
                  <a href="#">
                    <img src="src\assets\logo.png" class="avatar"> Magbabagsakan Dito
                  </a>
                </td>
                <td>06/09/2016</td>
                <td>System Administrator</td>
                <td>
                  <span class="status text-success">&bull;</span> Active
                </td>
                <td>
                  <a href="#" class="settings" title="Settings" data-toggle="tooltip">
                    <i class="material-icons">&#xE8B8;</i>
                  </a>
                  <a href="#" class="delete" title="Delete" data-toggle="tooltip">
                    <i class="material-icons">&#xE5C9;</i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <a href="#">
                    <img src="src\assets\logo.png" class="avatar"> Mauuna si Brandon
                  </a>
                </td>
                <td>12/08/2017</td>
                <td>SK Chairman</td>
                <td>
                  <span class="status text-warning">&bull;</span> Inactive
                </td>
                <td>
                  <a href="#" class="settings" title="Settings" data-toggle="tooltip">
                    <i class="material-icons">&#xE8B8;</i>
                  </a>
                  <a href="#" class="delete" title="Delete" data-toggle="tooltip">
                    <i class="material-icons">&#xE5C9;</i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="clearfix">
            <div class="hint-text">
              Showing
              <b>5</b> out of
              <b>25</b> entries
            </div>
            <ul class="pagination">
              <li class="page-item">
                <a href="#">Previous</a>
              </li>
              <li class="page-item active">
                <a href="#" class="page-link">1</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">2</a>
              </li>
              <li class="page-item disabled">
                <a href="#" class="page-link">3</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">4</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">5</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">Next</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- </div> -->
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">New Member Data</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <label for="exampleFormControlFile1">Image</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
              <!-- <h5 class="card-title">Bayanihan Drive</h5> -->
              <label for="usr">First Name:</label>
              <input type="text" class="form-control" id="usr">
              <label for="usr">Middle Name:</label>
              <input type="text" class="form-control" id="usr">
              <label for="usr">Last Name:</label>
              <input type="text" class="form-control" id="usr">
              <label for="usr">Position:</label>
              <input type="text" class="form-control" id="usr">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// const constituent = require('../crud.js')

export default {
 components: {
    // Navbar
  },
  data () {
    return {
      fname:'',
      mname:'',
      lname:'',
      lname:'',
      suffix:'',
      mothersname:'',
      fathersname:'',
      gender:'',
      civilstatus:'',
      birthday:'',
      birthplace:'',
      phonenumber:'',
      citizenship:'',
      religion:'',
      email:'',
      infos: []
    }
  },
  created() {
      this.getlist();
  },
  methods: {
getlist(){
    

},

addmyinformation() {
    var params = {
        "FirstName": this.fname,
        "MiddleName": this.mname,
        "LastName": this.lname,
        "Suffix": this.suffix,
        "MothersName": this.mothersname,
        "FathersName": this.fathersname,
        "Gender": this.gender,
        "CivilStatus": this.civilstatus,
        "Birthday": this.birthday,
        "Birthplace":this.birthplace,
        "PhoneNumber":this.phonenumber,
        "Citizenship":this.citizenship,
        "Religion":this.religion,
        "Email":this.email,
      }

      axios.post(constituent.add, params).then(response => {
        alert('Information added successfully.')
      }, (error) => {
        console.log(error)
      })
},
// updatemyinformation(a){
//     var params = {
//         "FirstName": this.fname,
//         "MiddleName": this.mname,
//         "LastName": this.lname,
//         "Suffix": this.suffix,
//         "MothersName": this.mothersname,
//         "FathersName": this.fathersname,
//         "Gender": this.gender,
//         "CivilStatus": this.civilstatus,
//         "Birthday": this.birthday,
//         "Birthplace":this.birthplace,
//         "PhoneNumber":this.phonenumber,
//         "Citizenship":this.citizenship,
//         "Religion":this.religion,
//         "Email":this.email,
//         "ID": '',
//       }

//       axios.post(constituent.update, params).then(response => {
//         alert('Information update successfully.')
//       }, (error) => {
//         console.log(error)
//       })
//    }
  }

}
</script>


<style>
#containerpills {
  position: absolute;
  height: 98%;
  width: 99%;
  border-radius: 5px;
  background-color: #f2f2f2;
  /* padding: 20px 20px 30px 20px; */
  margin: 5px;
}
.container {
  display: block;
}
.tab-content > .active {
  display: contents;
}
/* testing */
/* body {
        color: #566787;
		background: #f5f5f5;
		font-family: 'Varela Round', sans-serif;
		font-size: 13px;
	} */
.table-wrapper {
  background: #fff;
  padding: 20px 25px;
  margin: 10px 0;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.table-title {
  padding-bottom: 15px;
  /* background: #299be4; */
  background-image: linear-gradient(to right, #4facfe, #00f2fe);
  color: #fff;
  padding: 16px 30px;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}
.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}
.table-title .btn {
  color: #566787;
  float: right;
  font-size: 13px;
  background: #fff;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}
.table-title .btn:hover,
.table-title .btn:focus {
  color: #566787;
  background: #f2f2f2;
}
.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}
.table-title .btn span {
  float: left;
  margin-top: 2px;
}
table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
  white-space: nowrap;
  /* overflow: scroll; */
}
table.table tr th:first-child {
  width: 60px;
}
table.table tr th:last-child {
  width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}
table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
}
table.table td a:hover {
  color: #2196f3;
}
table.table td a.settings {
  color: #2196f3;
}
table.table td a.delete {
  color: #f44336;
}
table.table td i {
  font-size: 19px;
}
table.table .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}
.status {
  font-size: 30px;
  margin: 2px 2px 0 0;
  display: inline-block;
  vertical-align: middle;
  line-height: 10px;
}
.text-success {
  color: #10c469;
}
.text-info {
  color: #62c9e8;
}
.text-warning {
  color: #ffc107;
}
.text-danger {
  color: #ff5b5b;
}
.pagination {
  float: right;
  margin: 0 0 5px;
}
.pagination li a {
  border: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}
.pagination li a:hover {
  color: #666;
}
.pagination li.active a,
.pagination li.active a.page-link {
  background: #03a9f4;
}
.pagination li.active a:hover {
  background: #0397d6;
}
.pagination li.disabled i {
  color: #ccc;
}
.pagination li i {
  font-size: 16px;
  padding-top: 6px;
}
.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}
.scrollable {
  overflow-y: hidden;
}
</style>
